#user-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#user-login label {
  display: flex;
  gap: 20px;
}
